<div class="teste">
    <app-header></app-header>
    <br>
    <div class="caixa">
        <ul class="nav-list">
            <li class="li-p"><h4>Programas do eixo: {{eixo}}</h4></li>
        </ul>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Programas do período: {{periodo}}</th>
              <th scope="col">Orçamento</th>
              <th scope="col">Extraorçamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let programa of programas">
              <th scope="row">{{programa.idConhecimento}}</th>
              <td><button type="button" class="btn btn-link"  (click)="getAcoesPorProgramaPorEixo(programa.nome)">{{programa.nome}}</button></td>
              <td>{{programa.orcamento}}</td>
              <td>{{programa.extraOrcamento}}</td>
            </tr>
        </tbody>
    </table>
</div>
