 <div class="teste">
  <app-header></app-header>
  <br>
  <div class="caixa">
    <ul class="nav-list">
        <li class="li-p"><h4>Apresentação das prefeituras-bairro de Salvador</h4></li>
    </ul>
  </div>
  <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prefeituras-Bairro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Centro/Brotas</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Subúrbio/Ilhas</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Cajazeiras</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Itapuã/Ipitanga</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Cidade Baixa</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Barra/Pituba</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Liberdade/São Caetano</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Cabula/Tancredo Neves</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Pau da Lima</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Valéria</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Inter-Regionais</td>
        </tr>
      </tbody>
  </table>
 </div>
  
    




